#contact-main{
    min-height: 69vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;

    .info-contact-container{
        min-height: 69vh;
        // background-color: aquamarine;
        flex-basis: 50%;
        display: flex;
        justify-content: flex-start;
        // align-items: center;
        flex-direction: column;

        .contact-title{
            height: 17vh;
            font-size: 4.5rem;
            // background-color: azure;
            font-family: 'Noto Sans', sans-serif;
            display:flex;
            justify-content: flex-start;
            align-items: center;
            // text-align: left;
        }

        .contact-info{
            font-size: 2.2rem;
            padding-right: 5rem;
            margin-bottom: 8rem;
            font-family: 'Noto Sans', sans-serif;
            line-height: 1.6;
        }
        .disclaimer-container{

        }

        .disclaimer{
            font-family: 'Noto Sans', sans-serif;
            margin-top: 5rem;
            font-size: 2.5rem;
            padding-right: 5rem;
            // letter-spacing: 1px;
            line-height: 1.6;
        }
    }
    .info-input-container{
        min-height: 69vh;
        // background-color: bisque;
        flex-basis: 50%;
        display: flex;
        justify-content: space-around;
        // align-items: flex-end;
        flex-direction: column;
        padding-left: 2rem;
    }
    .form-name, .form-email, .form-text-area, .form-subject{
        padding-bottom: 5rem;
    }

    input,
    textarea {
    font-size: 1.7rem;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    }

    textarea{
        height: 200px;
    }
    .line{
        border: 1px solid black;
        width: 50%;
    }
}

