* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgb(241, 241, 241);
}

a {
  text-decoration: none;
  color: black;
}

/*
Navigation
*/
#nav-bar {
  min-height: 11vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
#nav-bar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 95%;
  height: 100%;
}
#nav-bar #nav-title {
  font-size: 3.5rem;
  font-family: "Cairo", sans-serif;
  cursor: pointer;
  flex-basis: 35rem;
}
#nav-bar #nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 40rem;
}
#nav-bar a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-bar li {
  list-style: none;
  font-size: 1.7rem;
  font-family: "Noto Sans", sans-serif;
}
#nav-bar .twitter-image {
  font-size: 1rem;
  height: 2.5rem;
  width: 4rem;
  position: relative;
  bottom: -0.1rem;
}
#nav-bar .instagram-image {
  height: 3.4rem;
  width: 3.4rem;
}
#nav-bar .youtube-image {
  position: relative;
  bottom: -0.1rem;
  height: 4rem;
  width: 5rem;
}
#nav-bar .mobile-menu {
  display: none;
  width: 3.5rem;
  z-index: 12;
  cursor: pointer;
}
#nav-bar .mobile-menu .burger-lines {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  margin-bottom: 1rem;
}

.mobile-menu-pop-up {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
}
.mobile-menu-pop-up .mobile-inner-container {
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.mobile-menu-pop-up li {
  list-style: none;
  font-size: 6rem;
  padding: 1.5rem;
}
.mobile-menu-pop-up .mobile-social-media {
  bottom: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-pop-up .mobile-social-media .twitter-image {
  position: relative;
  bottom: 0.4rem;
  height: 2.5rem;
  width: 4rem;
}
.mobile-menu-pop-up .mobile-social-media .instagram-image {
  height: 3.4rem;
  width: 3.4rem;
}
.mobile-menu-pop-up .mobile-social-media .youtube-image {
  position: relative;
  height: 4rem;
  width: 5rem;
  bottom: -0.3rem;
}

/* 
    Mobile
*/
@media only screen and (max-width: 750px) {
  #nav-bar #nav-items {
    display: none;
  }
  #nav-bar #nav-title {
    z-index: 12;
  }
  #nav-bar .mobile-menu {
    display: inline-block;
  }
}
#work-main {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(70px, 1fr));
  grid-template-rows: repeat(3, minmax(70px, 1fr));
  align-content: center;
  justify-content: center;
  width: 95%;
  margin: auto;
  grid-gap: 0.8rem;
  overflow: hidden;
}
#work-main img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.container {
  position: relative;
}
.container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.1s ease-in;
  background: rgba(0, 0, 0, 0);
}
.container .overlay:hover {
  background: rgba(255, 255, 255, 0.7);
}
.container .text {
  color: rgb(0, 0, 0);
  font-size: 7.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 2;
}
.container:hover .text {
  opacity: 1;
}

.footer-main {
  min-height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.footer-main .footer-container {
  min-height: 4vh;
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
}
.footer-main .copyright {
  font-size: 2rem;
  font-family: "Noto Sans", sans-serif;
}

/* 

Mobile 

*/
@media only screen and (max-width: 800px) {
  #work-main {
    grid-template-columns: repeat(2, minmax(60px, 500px));
    grid-template-rows: repeat(3, minmax(60px, 300px));
  }
  #work-main img {
    background-position: center;
  }
}
@media only screen and (max-width: 733px) {
  #work-main {
    grid-template-columns: repeat(1, minmax(40px, 1fr));
    grid-template-rows: repeat(6, minmax(40px, 1fr));
  }
}
#contact-main {
  min-height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}
#contact-main .info-contact-container {
  min-height: 69vh;
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#contact-main .info-contact-container .contact-title {
  min-height: 11vh;
  font-size: 4.5rem;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#contact-main .info-contact-container .contact-info {
  font-size: 2.2rem;
  padding-right: 5rem;
  margin-bottom: 3.5rem;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.6;
}
#contact-main .info-contact-container #sponsored-videos-subtitle {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}
#contact-main .info-contact-container .disclaimer {
  font-family: "Noto Sans", sans-serif;
  margin-top: 5rem;
  font-size: 2.5rem;
  padding-right: 5rem;
  line-height: 1.6;
}
#contact-main .info-input-container {
  min-height: 69vh;
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 2rem;
}
#contact-main .form-name, #contact-main .form-email, #contact-main .form-text-area, #contact-main .form-subject {
  padding-bottom: 5rem;
}
#contact-main input,
#contact-main textarea {
  font-size: 1.7rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}
#contact-main textarea {
  height: 200px;
}
#contact-main .line {
  border: 1px solid black;
  width: 50%;
}
#contact-main .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
#contact-main .submit-btn {
  border: none;
  padding: 1rem 10rem;
  border-radius: 15px;
  background-color: rgb(100, 100, 100);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: white;
}

/* 

Mobile 

*/
@media only screen and (max-width: 887px) {
  #contact-main .info-contact-container .contact-title {
    font-size: 3.5rem;
  }
  #contact-main .info-contact-container .contact-info {
    font-size: 1.8rem;
  }
  #contact-main .info-contact-container #sponsored-videos-subtitle {
    font-size: 2.6rem;
  }
  #contact-main .info-contact-container .disclaimer {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 720px) {
  #contact-main {
    flex-wrap: wrap;
  }
  #contact-main .info-contact-container {
    min-height: 42vh;
    flex-basis: 95%;
    margin: auto;
  }
  #contact-main .info-contact-container .contact-title {
    justify-content: center;
  }
  #contact-main .info-contact-container .contact-info {
    padding-right: 0rem;
  }
  #contact-main .info-contact-container #sponsored-videos-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact-main .info-input-container {
    min-height: 60vh;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 0rem;
  }
  #contact-main .form-name, #contact-main .form-email, #contact-main .form-text-area, #contact-main .form-subject {
    padding-bottom: 5rem;
  }
  #contact-main form {
    width: 95%;
  }
  #contact-main .submit-btn {
    width: 100%;
  }
}
@media only screen and (max-width: 528px) {
  #contact-main .info-contact-container .contact-title {
    font-size: 2.6rem;
  }
  #contact-main .info-contact-container .contact-info {
    font-size: 1.6rem;
  }
  #contact-main .info-contact-container #sponsored-videos-subtitle {
    font-size: 2.2rem;
  }
  #contact-main .info-contact-container .disclaimer {
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
  }
}
#about-main {
  min-height: 78vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}
#about-main .about-title-container {
  width: 35rem;
  min-height: 49vh;
}
#about-main .about-title {
  font-size: 7rem;
  min-width: 30rem;
}
#about-main .about-introduction-container {
  width: 75rem;
  min-height: 49vh;
}
#about-main .about-introduction {
  font-size: 2rem;
  padding: 1.5rem;
  text-align: left;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.8;
}

#self-image {
  margin-top: 5rem;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 850px) {
  #about-main .about-title-container {
    width: 25rem;
  }
  #about-main .about-title {
    font-size: 5rem;
  }
  #about-main .about-introduction-container {
    width: 55rem;
  }
  #about-main .about-introduction {
    font-size: 1.7rem;
    padding: 1.5rem;
    text-align: left;
    font-family: "Noto Sans", sans-serif;
    line-height: 1.6;
  }

  #self-image {
    height: 250px;
    width: 250px;
  }
}
@media only screen and (max-width: 700px) {
  #about-main {
    flex-wrap: wrap;
  }
  #about-main .about-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    min-height: 29vh;
    margin: auto;
    padding: 1rem;
  }
  #about-main .about-introduction-container {
    width: 90%;
    min-height: 39vh;
    margin: auto;
  }
  #about-main .about-introduction {
    font-size: 1.9rem;
    text-align: justify;
  }
}
@media only screen and (max-width: 632px) {
  #nav-bar #nav-title {
    font-size: 2.5rem;
  }

  #about-main .about-title-container {
    padding: 0rem;
    flex-wrap: wrap;
  }
  #about-main .about-title {
    text-align: center;
  }
  #about-main .about-introduction {
    font-size: 1.6rem;
    padding: 0rem;
    padding-bottom: 0.5rem;
    line-height: 1.8;
  }

  #self-image {
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */