*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/*
Navigation
*/

#nav-bar{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding-left: 2rem;
        // padding-right: 2rem;
        margin: auto;
        width: 95%;
    }
    #nav-title{
        font-size: 3.5rem;
        font-family: 'Cairo', sans-serif;
        cursor: pointer;
    }
    #nav-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 45rem;
    }

    a{
        text-decoration: none;
        color: black;
    }
    li{
        list-style: none;
        font-size: 1.7rem;
        font-family: 'Noto Sans', sans-serif;
    }
}

@import 'work';